<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>website login gue</title>
</head>
<style>
	body{
		background-color: #c4c4c4;
		text-align: center;
		margin-top: 200px;
	}

</style>

<body>
	<h1>Halaman Utama</h1>
	{% if not user.is_authenticated %}
	<a href="{%url 'applogin:loginpage' %}">Pencet Disini</a>
	{% endif %}
</body>
