<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>website login gue</title>
</head>
<style>
	body{
		background-color: #c4c4c4;
		text-align: center;
		margin-top: 200px;
	}

</style>

<body>
	 <h1>Login</h1>
	 <form class="site-form" action="{%url 'applogin:loginpage' %}" method="post">
	 	{% csrf_token %}
	 	<div id="flexbox-container">
	 	{{form.as_p}}
	 	</div>
	 	<input type="submit" value="Login">
	 </form>
</body>
