<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>website login gue</title>
</head>
<style>
	body{
		background-color: #c4c4c4;
		text-align: center;
		margin-top: 200px;
	}

</style>

<body>
	<h1>Selamat! Anda berhasil login</h1>
	{% if user.is_authenticated %}
	<h3>Welcome {{ user.username }}!</h3>
	<form class="logout-link" action="{%url 'applogin:logoutpage' %}" method="post">
		{% csrf_token %}
		<button type="submit">Logout</button>
	</form>
	{% endif %}
	
</body>
